form div {
    width: 400px;
}

body {
    background-image: url('../img/fon.jpg');
}

.big-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form button {
    margin-top: 25px;
    margin-bottom: 25px;
}

form {
    background-color:white;
    padding: 50px;
    border-radius: 10px;
}

.big-form h1 {
    margin-bottom: 50px;
}

.msg {
    color: brown;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px black;
    padding: 20px ;
    align-items: center;
    background-color: white;
}

header h1 {
    margin-bottom: -1px;
}

footer {
    background-color: black;
    font-size: 10px;
    color: white;
    padding: 5px;
    text-align: center;
}
