* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../img/fon.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: black 10px;
}

header h1 {
    font-size: 60px;
}

.header-block {
    text-align: center;
}

.nav {
    margin-top: 150px;
}

header ul li {  
    padding: 5px;
}

header ul li:hover {
    border-bottom: 4px double black;
}

header ul li a:hover {
    color: rgb(99, 99, 99);
    transition: 1s;
}

header ul li a {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.carousel-center {
    display: flex;
    justify-content: center;
}
